@model EZone.Models.CategoryListItem

@{
    ViewBag.Title = "IndexCategory";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}



<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
<div class="container">
    <h2>Category List</h2>

    <p>
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#categoryModal">Add New Category</a>
    </p>
    <div class="modal fade" id="categoryModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Add Category</h3>
                </div>
                <div class="modal-body">
                    <form id="categoryForm">
                        <label>Category Name</label>
                        @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="btn-block">
                        <a href="#" id="btnSave" class="btn btn-primary mr-3">Save</a>
                        <a href="#" id="btnCancel" class="btn btn-danger">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            $("#btnSave").click(function () {
                var categoryFormData = $("#categoryForm").serialize();

                $.ajax({
                    type: "POST",
                    url: "/Admin/CreateCategory",
                    data: categoryFormData,
                    success: function () {

                        window.location.href = "/Admin/IndexCategory";
                    }
                })

            })

            $("#btnCancel").click(function () {
                window.location.href = "/Admin/IndexCategory";
            })

        })


    </script>




    <table class="table table-striped">
        <thead>
            <tr class="btn-primary">
                <th>
                    No.
                </th>
                <th>
                    Category ID
                </th>
                <th>
                    Category Name
                </th>

                <th>
                    Action
                </th>

            </tr>
        </thead>
        @{
            int count = 0;
        }

        @foreach (var item in ViewBag.Categories)
        {count = count + 1;
        <tr>

            <td>
                @*@(Model.IndexOf(item)+1)*@
                @count
            </td>
            <td>
                @item.CategoryId
            </td>
            <td>
                @item.CategoryName
            </td>
            <td>
                <a href="@Url.Action("EditCategory", "Admin", new { id = item.CategoryId })" class="btn btn-pencil"><i class="fa fa-pencil"></i> Edit</a>|
                <a href="@Url.Action("CategoryDetails", "Admin", new { id = item.CategoryId })" class="btn btn-pencil"><i class="fa fa-book"></i> Details</a>|
                <a onclick="Delete(@item.CategoryId)" class="btn btn-pencil"><i class="fa fa-trash"></i> Delete</a>
            </td>
        </tr>
    }

    </table>
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Delete Alert', 'Are you sure you want to delete this category?', function () {
                window.location.href = '@Url.Action("DeleteCategory", "Admin")/' + id;
            }, null);
         }
    </script>
}