
@model IEnumerable<EZone.Data.Product>

<br /><br /><br />


<div class="container">
    <div class="form-group">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search" class="form-control" />
            </div>
        </div>
    </div>
    @*@Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />*@
</div>
<br />
<table class="table table-striped">
    <thead>
        <tr class="btn-primary">
            <th>No.</th>
            @*<th>Category ID</th>*@
            @*<th>Category Name</th>*@
            <th>Product Name</th>
            <th>In Stock</th>
            <th>Price</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr class="Search">
                @*<td>@(Model.IndexOf(item)+1)</td>*@
                @*<td>
                        @Html.DisplayFor(modelItem => item.CategoryId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CategoryName)
                    </td>*@
                <td>
                    @item.ProductName
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    $ @item.Price
                </td>

                <td>
                    <a href="@Url.Action("EditProduct", "Admin", new { id = item.ProductId })" class="btn btn-success">Edit</a>
                    <a href="@Url.Action("ProductDetails", "Admin", new { id = item.ProductId })" class="btn btn-primary">View</a>
                    @*<a href="@Url.Action("ProductDelete", "Admin", new { id = item.ProductId })" class="btn btn-danger">Delete</a>*@
                    <a onclick="Delete(@item.ProductId)" class="btn btn-danger">Delete</a>

                </td>

            </tr>

        }




    </tbody>

</table>

<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script>
    $(document).ready(function () {
        function Contains(text_one, text_two) {
            if (text_one.indexOf(text_two) != -1)
                return true;
        }
        $("#Search").keyup(function () {
            var searchText = $("Search").val().toLowerCase();
            $(".Search").each(function () {
                if (!Contains($(this).text().toLowerCase(), searchText)) {
                    $(this).hide();
                }
                else {
                    $(this).show();
                }
            });
        });  
    });
</script>