
@model IEnumerable<EZone.Data.Product>

<br />
<br />
<br />

@{
    ViewBag.Title = "ProductIndex";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";


}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/MyMainLayOut.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />

<div class="container">
    <div class="form-group">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input type="text" id="Search" placeholder="Search" class="form-control" />
            </div>
        </div>
    </div>
    @*@Html.TextBox("Search")<input type="submit" id="SearchBtn" value="Search" /><br /><br />*@

    <p>

        <h6><a href="../Admin/AddProduct" class="btn btn-success @*pull-right*@ fa fa-plus"> Add New</a></h6>
    </p>

    <br />
    <table class="table table-striped">
        <thead>
            <tr class="btn-primary">
                <th>No.</th>
                @*<th>Category ID</th>*@
                @*<th>Category Name</th>*@
                <th>Product Name</th>
                <th>In Stock</th>
                <th>Price</th>
                <th>Action</th>

            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr class="Search">
                    @*<td>@(Model.IndexOf(item)+1)</td>*@
                    @*<td>
                            @Html.DisplayFor(modelItem => item.CategoryId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CategoryName)
                        </td>*@
                    <td>
                        @item.ProductName
                    </td>
                    <td>
                        @item.Quantity
                    </td>
                    <td>
                        $ @item.Price
                    </td>

                    <td>
                        <a href="@Url.Action("EditProduct", "Admin", new { id = item.ProductId })" class="btn btn-success">Edit</a>
                        <a href="@Url.Action("ProductDetails", "Admin", new { id = item.ProductId })" class="btn btn-primary">View</a>
                        @*<a href="@Url.Action("ProductDelete", "Admin", new { id = item.ProductId })" class="btn btn-danger">Delete</a>*@
                        <a onclick="Delete(@item.ProductId)" class="btn btn-danger">Delete</a>

                    </td>

                </tr>

            }

        </tbody>

    </table>
</div>

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Delete Alert', 'Are you sure you want to delete this product?', function () {
                window.location.href = '@Url.Action("Delete","Admin")/' + id;
            }, null);
         }
    </script>
}

cript>