@model EZone.Models.ProductDetail

@{
    ViewBag.Title = "ProductDetails";
}
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="sytlesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<meta name"viewport" content="width=device-width" />
<style>
    tr{
        padding:20px;
        
    }
</style>

<div>
    <h2>Product Details</h2>
    <hr />
    <div>
        <div class="container">
            <div class="row">

                <div class="col-lg-4 col-md-4 col-sm-4">
                    <img src="~/ProductImg/@Model.ProductImage" style="width:250px; height:350px" />
                </div>

                @*<div class="col-lg-4 col-md-4 col-sm-8">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                <tr>
                    <td></td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Product Name: </td>
                    <td</td>
                </tr>
                <tr>
                    <td>Description: </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Quantity: </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Price: </td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Is New</td>
                    <td> </td>
                </tr>
                <tr>
                    <td>Created Date: </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Modified Date:</td>
                    <td> </td>
                </tr>
            </table>

        </div>*@


              
            <div class="col-lg-4 col-md-4 col-sm-4" style="font-size:16px; color:blue;">
                <dl class="dl-horizontal">

                <dt>
                    Category ID:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryId)
                </dd>

                <dt>
                   Category Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CategoryName)
                </dd>

                <dt>
                   Product Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                   Description:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>

                <dt>
                    Quantity:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                   Price:
                </dt>

                <dd>
                    $ @Html.DisplayFor(model => model.Price)
                </dd>

                <dt>
                   Is New:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsNew)
                </dd>

                <dt>
                   Date Created:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CreatedDate)
                </dd>

                <dt>
                   Date Modified:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ModifiedDate)
                </dd>

                </dl>

            </div>
            </div>
    </div>
</div>
    </div>
<p>
    @Html.ActionLink("Edit", "EditProduct", new { id = Model.ProductId }) |
    @Html.ActionLink("Back to List", "ProductIndex")
</p>
